[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

pandas = "*"
pyyaml = "*"
requests = "*"
statsmodels = "*"
uuid = "*"
"paho-mqtt" = "*"
numpy = "1.13.1"
cython = "*"








[requires]
python_version = "3.7"
